*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.form-control{
  width: 650px;
}

.list-group{
  width:740px;
}

.list-group-item{
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.bd-callout {
  padding: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.bd-callout-danger {
  border-left-color: red;
}

.delete-cross{
  background: none;
  border: none;
  color:gray;
  transform: scale(2);
}
